<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="../app.css">
  <script src="../bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
   <script type="text/javascript" src="../TopologyUnderlay/jquery-2.1.4.min.js"></script>
  
</head>
<body ng-app="myApp" >
  <ul class="menu">
    <li><a href="http://localhost:8000/app/ListUnderlay/view1.html">Refresh</a></li>
    <li><a href="http://localhost:8000/app/ListOverlay/view2.html">Overlay</a></li>
  </ul>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- <div ng-view></div>

  <div>Angular seed app: v<span app-version></span></div> -->
  
  

  
  
 <div ng-controller="customersCtrl"> 

<table id="dataTable">
  <tr>
    <th>Number</th>
    
  	<th>Intf Name</th>
    <th>IP</th>
    <th>Status</th>
    <th>Add to overlay</th>
    
    </tr>
    <tr ng-repeat="x in names" id="tr1">  
      
    <td>{{ x.id }} </td>
    
    <td>{{ x.name }}</td>
    <td>{{ x.IP }}</td>
    <td>{{ x.status }}</td>
    <td align="center"><input type="checkbox" class="case" name="case[]" value="1" /></td>
  </tr>
</table>


</div>
&nbsp; 
<div ng-controller="customersCtrl2">
   
<input ng-click="addToOverlay()" type="submit" value="Add to overlay" name="ato">     
</div>
        

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  

  <script src="view1.js"></script>
 
</body>
</html>
